<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
					    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- 加载配置文件 -->
    <import resource="errorInfos.xml"/>

    <!-- 初始化信息 -->
    <!--  <bean id="synonymUtil" class="com.liutf.mvc.utils.SynonymsUtil" init-method="startInitData">
         <property name="testValue" value="${testValue}"/>初始化测试参数
    </bean> -->


    <!-- 修改配置 减少每次在service dao中增加class都需要声明注解 -->
    <!--<context:component-scan base-package="com.liutf.mvc" use-default-filters="false">-->
        <!--<context:include-filter type="regex" expression="com.liutf.mvc.service.*"/>-->
    <!--</context:component-scan>-->

    <!-- 支持上传文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="2097152"/><!-- 限定文件大小 -->
        <property name="defaultEncoding" value="UTF-8"/><!-- 编码格式 -->
    </bean>


    <!-- 配置kaptcha验证码,验证码 -->
    <!--  <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
         <property name="config">
             <bean class="com.google.code.kaptcha.util.Config">
                 <constructor-arg type="java.util.Properties">
                     <props>
                         <prop key="kaptcha.image.width">100</prop>
                         <prop key="kaptcha.image.height">50</prop>
                         <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                         <prop key="kaptcha.textproducer.char.string">0123456789abcdefghijklmnopqrstuvwxyz</prop>
                         <prop key="kaptcha.textproducer.char.length">4</prop>
                     </props>
                 </constructor-arg>
             </bean>
         </property>
     </bean>   -->
</beans>